@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--blue);
}
:root{
    --blue: #03058E;
    --white: #FFFFFF;
    --green: #33CC99;
    --salmon: #FF8080;
    --pink: #EDC7C4;
    --grey: #F5F5F5;
    --sky-blue: #1880FF;
}
.hero {
 background-color: var(--blue);
}
.menu{
    margin-bottom:100px;
}
.nav-link{
    font-size: 20px;
    color: var(--white);
}
.logo {
    height: 40px;
    margin-top: -40px;
}
.img-logo {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.info {
    display: grid;
    justify-content: center;
    grid-template-columns: 600px 400px;
    grid-column-gap: 100px;
}
.info p{
    color: var(--white);
    font-size: 24px;
    padding-top: 10%;
}
.intro{
    display: grid;
    justify-content: center;
    grid-template-columns: 700px 200px;
    grid-column-gap: 400px;
}

.intro hr{
 width: 15%;
 border-top: 17px solid var(--green);
 border-radius: 40px;
 margin-left: 0;
}
.intro p{
    font-size: 25px;
    color: var(--blue);
}
.proyectos .title{
    background-image: url(img/img-proyectos.png);
    background-size: contain;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.title h1{
    display: inline-block;
    background-color: var(--blue);
    border-radius: 60px;
    padding: 13px 60px;
    color: var(--white);
    font-weight: 700;
    font-size: 50px;
}

.introb{
    display: grid;
    justify-content: center;
    grid-template-columns: 700px 200px;
    grid-column-gap: 400px;
}

.introb hr{
 width: 15%;
 border-top: 17px solid var(--salmon);
 border-radius: 40px;
 margin-left: 0;
}
.introb p{
    font-size: 25px;
    color: var(--blue);
}
/*NAVPILLS*/

#v-pills-ninos-tab, #v-pills-adultos-tab{
    border-radius: 20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    color: #212529;
    font-weight: 700;
    font-size: 18px;
}
.nav-pills .nav-link {
    display: block;
    width:50vh;
    max-width:300px;
    position:relative;
    margin-left: auto;
    margin-right: 20%;
    background-color: var(--grey);
}
.nav-pills .nav-link img{
    width: 40px;
    float: right;
}
.nav-pills .nav-link:hover {
    transform: translateY(-10px);
    opacity: 1;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--pink);
}


 /*CARDS*/
 .card-head{
     display: grid;
     grid-template-columns: auto 100px;
 }
 .line{
    width: 60%;
    border-bottom: solid var(--sky-blue);
    padding-bottom: 15px;
 }
 .lineb{
    width: 60%;
    border-bottom: solid var(--salmon);
    padding-bottom: 15px;
}
 .card{
     border: none;
     background-color: var(--grey);
     border-radius: 30px;
 }
 .cardbody {
    display: grid;
    grid-template-rows: 300px auto;
    padding: 1.25rem;
}
.cardbody a{
    display: inline-block;
}
.cardbody img{
    width: 60px;
    margin-left: auto;
}
 .c1{
     color: var(--sky-blue);
 }
.c2{
    color: var(--salmon);
}
 .tab-1{
     border-top: 5px solid var(--sky-blue);
 }
 .tab-2{
    border-top: 5px solid var(--salmon);
 }
 .card-head h3{
     font-size: 1.3rem;
 }

 /* ----------------------- FOOTER ----------------------- */
.footer {
    bottom: 0;
    width: 100%;
    line-height: 1.5rem;
    background-color: #001c41;
    color: #ffffff;
    position: relative;
}

.border-bottom {
    border-bottom: 1px solid #192e85 !important;
}
.separa-logo {
    display: inline-block;
}
.gob-txt{
    line-height: 1.2rem;
    text-align: right;
}
.redes-sociales{
    display:flex;
    justify-content:stretch;
    justify-content: center;
    border-left: 2px solid white;
}

.socialmedia{
    display: flex;
    text-align: left;
    flex-direction: row;
}

footer a, footer a:visited, footer a:active{
    color: #ffffff;
    font-weight: 400;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
/* mantiene el logo de gob en el bottom de la pagina */
.vertical-align-bottom{
    position: absolute;
    bottom: 0;
}

/* ----------------------- REDES SOCIALES ----------------------- */
.fa-instagram, .fa-twitter, .fa-facebook-f, .fa-linkedin {
    padding: 5px 8px;
    font-size: 1.2rem;
    display:flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}


.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}


ul li {
    padding-bottom: 15px;
}

.separador {
    color: #0F69C4;
}


/* MEDIA QUERYS*/
@media (max-width: 1030px) {
    .info{
        grid-column-gap: 10px;
        grid-template-columns: 500px 200px ;
    }
    .intro{
        grid-template-columns: auto 150px;
        grid-column-gap: 10px;
    }
    .introb{
        grid-template-columns: auto 150px;
        grid-column-gap: 10px;
    }

}
@media (max-width: 768px) {
    .info{
        justify-content: center;
        grid-template-columns: auto;
        grid-column-gap: 10px;
    }
    .img-logo{
        width: auto;
    }

    .intro{
        grid-template-columns: auto 150px ;
        grid-column-gap: 1px;
    }
    .intro p{
        font-size: 20px;
    }
    .introb{
        grid-template-columns: auto 150px ;
        grid-column-gap: 1px;
    }
    .introb p{
        font-size: 20px;
    }
    .proyectos .title{
        height: 300px;
    }
    .title h1{
        display: inline-block;
        background-color: var(--blue);
        border-radius: 60px;
        padding: 10px 50px;
        color: var(--white);
        font-weight: 700;
        font-size: 30px;
    }
    .nav-pills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .nav-pills .nav-link {
    max-width:100px;
     max-height:100px;
     margin-left: auto;
     margin-right: auto;
    }
    
    #v-pills-ninos-tab, #v-pills-adultos-tab{
        max-width: 150px;
        font-size: 15px;
    }
    .cardbody{
        grid-template-rows: auto;
    }
    .cardbody p{
        font-size: 14px;
    }
    .line{
        display: none;
    }
    .lineb{
        display: none;
    }

    .separa-logo {
        display: grid;
        grid-template-rows: 45px 46px;
        row-gap: 20px;
    }
    .gob-txt{
        text-align: left;
    }

}
@media (max-width: 500px) {
    .logo {
        margin-top: -30px;
    }
    .info img{
        width: 200px;
        margin-left: 50px;
    }

    .info p{
        font-size: 14px;
    }
    .intro{
        grid-template-columns: 300px auto ;
        grid-column-gap: 1px;
    }
    .intro p{
        font-size: 14px;
    }
    .intro hr{
        border-top: 10px solid var(--green);
    }
    .introb{
        grid-template-columns: 300px auto ;
        grid-column-gap: 1px;
    }
    .introb p{
        font-size: 14px;
    }
    .introb hr{
        border-top: 10px solid var(--salmon);
    }
    
    
}